

@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd119.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd118.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd117.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd119.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd116.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd115.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd113.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd112.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd111.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd110.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd109.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd108.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd107.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd106.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd105.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd104.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd103.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd102.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd101.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd100.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd63.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd57.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd56.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd55.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd52.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd49.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd47.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd45.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd44.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd43.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd38.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd36.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd26.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd25.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd23.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd22.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd20.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd16.woff2') format("woff2");
}
@font-face {
    font-family: 'Sandoll Nemony2';
    font-weight: 400;
    src: url('../font/SDNemony2dBasicBd6.woff2') format("woff2");
}
